<template name="Eit_data_form">
  <form id="eit_data_form">
    <input type="hidden" name="id" />
    <label for= "first_name">First Name</label>
    <br/>
    <input type="text" name="first_name" required />
    <br/>
    <label for="last_name">Last Name</label>
    <br/>
    <input type="text" name="last_name" required />
    <br/>
    <label for="date of birth">Date of  birth</label>
    <br/>
    <input type="date" name="date_of_birth" required />
    <br/>
    <label for="gender">Gender</label>
    <br/>
    <input type="radio" name="gender" value="Female" required/>Female<br/>
    <input type="radio" name="gender" value="Male" required/>Male<br/>
    <label for="country">Contry</label>
    <br/>
    <select name="country" required>
      {{ #each countries}}
      {{ # if default}}
       <option value="{{name}}" selected="true">{{name}}</option>
       {{else}}
       <option value="{{name}}">{{name}}</option>
       {{/if}}
       {{/each}}
    </select>
    <br/>
    <label for="cohort">cohort(Year of Graduation)</label><br/>
    <select name="cohort">
      {{ #each cohorts}}
      {{ # if current}}
      <option value="{{year}}" selected="true">{{year}}</option>
      {{else}}
      <option value="{{year}}">{{year}}</option>
        {{/if}}
        {{/each}}
      </select>

    <br/>
    <div>
      <i>All fields are required</i>
    </div>

    <button>Submit</button>
  </form>
</template>
